*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@font-face{
    font-family: Gilroy;
    src: url(../font/Gilroy-UltraLight.ttf);
}
@font-face{
    font-family: MERRIWEATHER;
    src: url(../font/MERRIWEATHER-BOLD.TTF);
}
@font-face{
    font-family: Inter;
    src: url(../font/Inter-Regular.ttf);
}
body{
    max-width: 1920px;
    background-color: #FAFDFF;
}
.bgimg{
    background-image: url(../img/img1.1.jpg);
    width: 1900px;
    height: 1067px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
header{
    position: absolute;
    top: 0;
}
header .blog1 img{
    position: absolute;
    width: 162px;
    height: 162px;
    margin: 60px 0 0 138px;
}
header .blog1 ul{
    position: absolute;
    border-radius: 10px;
background: linear-gradient(180deg, #042145 0%, #002C71 100%);
display: flex;
width: 903px;
opacity: 0.7;
margin: 109px 0 0 705px;
padding: 10px 75px;
}

header .blog1 ul li a{
    margin-left: 57px;
    color: #ffffff;
    font-family: Gilroy;
    font-size: 24px;
}
header .blog1 ul li a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
header .blog2{
    margin-top: 500px;
}

header .blog2 .aloqa{
    margin-top: 200px;
}
header .blog2 .aloqa .tel img{
    width: 24px;
    margin-left: 130px;
    background-repeat: no-repeat;
}
header .blog2 .aloqa .tel{
    display: flex;
    align-items: center;
}
header .blog2 .aloqa .tel p{
    margin-top: 2px;
    color: #ffffff;
    font-family: Gilroy;
    font-size: 24px;
}
header .blog2 .aloqa .tel p:hover{
    color: #3772FF;
    transition: all 0.5s;
}
header .blog2 .aloqa span{
    border: 1px solid #ffffff;
    display: inline-block;
    width: 400px;
    margin-top: 30px;
}
header .blog2 .aloqa .search{
    border: 1px solid #ffffff;
    border-radius: 20px;
    width: 242px;
    margin-left: 130px;
    margin-top: 50px;
    height: 44px;
}
header .blog2 .aloqa  form input::placeholder{
    color: #ffffff;
}
header .blog2 .aloqa .search input{
    background-color: transparent;
    border: none;
    margin: 5px;
    width: 187px;
    height: 30px;
    color: #ffffff;
    font-size: 24px;
    outline: none;
}
header .blog2 .aloqa form img{
   margin: 10px 0 0 10px;
}
/* ------SLAYDER------- */

.navbar{
    background-color: #E9F5FF;
    border-radius: 10px;
    width: 1596px;
    height: 610px;
    position: absolute;
    top: 750px;
    left: 165px;
    box-shadow: 0px 5px 20px 0px #706e6eb6;
}


.items {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;

  }

  .items .item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 250px;
    border-radius: 50px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
    z-index: -1;
    opacity: 0;
  }

  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
  }

  .item.active {
    width: 850px;
    height: 420px;
    opacity: 1;
    z-index: 99;
    box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
  }

  .item.prev {
    width: 550px;
    height: 338px;
    z-index: 2;
    opacity: 0.55;
    transform: translate(-125%, -50%);
  }

  .item.next {
        width: 550px;
        height: 338px;
    z-index: 2;
    opacity: 0.35;
    transform: translate(25%, -50%);
  }

  .items .button-container {
margin-top: 520px;
color: #002C71;
    margin-left: 300px;
    transform: translate(-50%, -50%);
    width: 275px;
    z-index: 100;
  }

  .button-container .button:nth-child(1) {
    color: #fff;
    width: 30px;
    height: 30px;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
  }
  .button-container .button:nth-child(2) {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 32px;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    transition: all 300ms ease-in-out;
    margin-top: -8px;
  }
  .button-container i{
    color: #8d8f92;
  }
  .button-container .button:hover {
    opacity: 1;
  }

  .button-container .button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: -99;
  }


  .button-container .button:nth-child(1) {
    float: left;
  }

  .button-container .button:nth-child(2) {
    float: right;
  }

  /* -------FKULTET HAYOTI--------- */


  .bg1{
    background-image: linear-gradient(306deg, #e7f1f8 0%, rgba(210, 204, 231, 0) 100%, rgba(219, 213, 236, 0.1) 100%);
    position: relative;
    width: 1645px;
height: 910px;
    margin: 407px 0 0 137px;
    border-radius: 20px;
  }
  .navbar2{
    position: absolute;
    top: 1550px;
    padding-bottom: 35px;

  }
  .navbar2 .blog1{
    display: flex;
  }
  .navbar2 .blog1 .box{
    display: flex;
    margin-left: 230px;
    align-items: center;
  }
  .navbar2 .blog1 .box a{
    color: #000;
text-align: right;
font-family: Gilroy;
font-size: 32px;
font-style: normal;
font-weight: 600;
margin-left: 10px;
  }
  .navbar2 .blog1 .box a:hover{
    color: #3772FF;
    transition: all 0.5s;
  }
  /* ==================== */
.navbar2 .blog{
    display: flex;
    margin: 100px 0 0 240px;
    position: relative;
}
.navbar2 .blog .box1 {
    position: absolute;
    top: 0;
}
.navbar2 .blog .box1 img{
    width: 650px;
    height: 550px;
}
.fon{
    position: absolute;
    top: 0;
    left: 650px;
    background-color: rgba(0, 60,255,0.89);
    width: 750px;
    height: 550px;
    opacity: 0.1;
}
.fon1{
    background-image: url(../img/dekanfon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 850px;
    height: 550px;
    left: 550px;z-index: -1;
}
.navbar2 .blog .box2{
    width: 850px;
    height: 550px;
    padding: 50px;
    position: absolute;
    top: 0;
    left: 650px;
}
.navbar2 .blog .box2 h2{
    color: #000;
    font-family: MERRIWEATHER;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 50px 0 25px 0;
}
.navbar2 .blog .box2 P:nth-child(2){
    color: #000;
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 50px;
}
.navbar2 .blog .box2 P:nth-child(3){
    color: #000;
    font-family: Gilroy;
    width:690px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 30px;
}
.navbar2 .blog .box2 a button{
    width: 250px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #002b717d;
    background-color: #002C71;
    font-size: 24px;
    color: #b5aaaa;
    cursor: pointer;
    margin: 60px 0 0 0 ;
}
.navbar2 .blog .box2 a button:hover{
    background-color: #0911a3eb;
    transition: all 0.8s ease-in-out;
    color: #fff;
}
  /* ======================== */


  .navbar2 .blog2 {
    display: flex;
    margin: 800px 0 0 140px;
    background-color: #F5FAFE;
    padding: 50px 151px 50px 57px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px 10px rgba(152, 166, 187, 0.15);
  }
  .navbar2 .blog2 .box1 {
    width: 500px;
  }
  .navbar2 .blog2 .box1 img:nth-child(1){
    border-radius: 150px 0px 0px 0px;
    width: 492px;
height: 319px;
object-fit: cover;
  }
  .navbar2 .blog2 .box1 img:nth-child(2){
    width: 492px;
height: 226px;
margin-top: 20px;
object-fit: cover;
}
.navbar2 .blog2 .box2 img{
    width: 378px;
height: 565px;
border-radius: 0px 0px 150px 0px;
object-fit: cover;
margin-left: 30px;
}
.navbar2 .blog2 .box3{
    width: 500px;
    margin-left: 26px;
    padding: 0 0 20px 0;
}
.navbar2 .blog2 .box3 p:nth-child(1){
    color: #000;
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.navbar2 .blog2 .box3 p:nth-child(2){
    color: #000;
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 20px;
}

/* ------------------ */

.bg2{
    background-image: linear-gradient(306deg, #E9F5FF 0%, rgba(245, 242, 253, 0.00) 100%, rgba(245, 242, 253, 0.10) 100%);
    width: 1300px;
height: 600px;
transform: rotate(157.088deg);
margin: 1000px 0 0 400px;
position: relative;
}
.navbar3{
    margin: 821px 0 0 180px;
    top: 2590px;
    padding: 2rem 2rem ;
    display: flex;
    height: 800px;
  position: absolute;
}
.navbar3 .box1 img{
    background-color: #4280e433;
    padding: 1rem;
}
.navbar3 .box2{
    position: absolute;
    bottom: 600px;
    left: 28px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
}
.navbar3 .box2 .box3{
    width: 243px;

    border-radius: 0 0 12px 12px;
    padding: 20px;
}
.navbar3 .box2 p:nth-child(1){
    font-size: 26px;
    color: #000;
    font-weight: 900;
}
.navbar3 .box2 p:nth-child(2){
    font-size: 12px;
    color: #A7A7A7;
}
.navbar3 .box2 span{
    border: 1px solid #e9e9e9;
    width: 200px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 20px;
}
.navbar3 .box3{
    display: flex;
}
.navbar3 .box3 img{
    width: 19px;
    height: 19px;
    border-radius: 50%;
}

.navbar3 .box3 .imgbox:nth-child(1) img:nth-child(1){
  margin-right: -10px;
}
.navbar3 .box3 .imgbox:nth-child(2){
    margin-left: 10px;
}
.navbar3 .box3 .imgbox:nth-child(2) img:nth-child(1){
    margin-right: -10px;
}
.navbar3 .box3 .imgbox:nth-child(2) img:nth-child(3){
    margin-left: -10px;
}
.navbar3 .box3 .imgbox:nth-child(2) img:nth-child(4){
    margin-left: -10px;
}
.navbar3 .box3 .imgbox:nth-child(3) img:nth-child(1){
    margin-left: 15px;
}
.navbar3 .box3 .imgbox:nth-child(3){
    margin-left: 15px;
}


.navbar3 .blog2{
    margin-left: 123px;
    width: 635px;
}
.navbar3 .blog2 span{
    border: 1px solid #000339;
    width: 48px;
    display: block;
    border-radius: 50px;
}
.navbar3 .blog2 h2{
    margin-top: 11px;
    font-size: 35px;
    font-weight: 700;
    color: #000339;
}
.navbar3 .blog2 p{
    margin-top: 50px;
    font-size: 24px;
}

/* ------------------ */
.raqam{
    margin: 300px 0 0 207px;
}
.raqam span{
    display: block;
    width: 47px;
    border-radius: 50px;
    border: 2px solid #000339;
}
.raqam h2{
    font-size: 35px;
}
.navbar4 {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 1900px;
    padding: 62px 62px;
    background-image: linear-gradient(306deg, #dde3e9 0%, rgba(245, 242, 253, 0.00) 100%, rgba(245, 242, 253, 0.10) 100%);
    box-shadow: -10px 0px 5px 2px #0000003d;
    position: absolute;
    z-index: 1;
}
.navbar4 .box1 h3{
    font-size: 64px;
}

.navbar4 .box1 p{
    font-size: 18px;
    color: #7B8087;
    margin-top: 20px;
}

.navbar4 .box2 h3{
    font-size: 64px;
    
}
.navbar4 .box2 p{
    font-size: 18px;
    color: #7B8087;
    margin-top: 20px;
}

.navbar4 .box3 h3{
    font-size: 64px;
}
.navbar4 .box3 p{
    font-size: 18px;
    color: #7B8087;
    margin-top: 20px;
}

.navbar4 .box4 h3{
    font-size: 64px;
}
.navbar4 .box4 p{
    font-size: 18px;
    color: #7B8087;
    margin-top: 20px;
}
/* ------------------- */
.navbar5{
    display: flex;
    padding: 163px 0 175px 0;
    width: 1900px;
    margin-top: 200px;
    background-image: linear-gradient(186deg, #edf0f358 0%, rgba(238, 237, 244, 0) 100%, rgba(245, 242, 253, 0.10) 100%);
}
.navbar5 .blog1{
    width: 423px;
    margin: 0px 0 0 140px;
    border-radius: 10px;
    background: #FFF;
    padding: 55px;    
    transition: all 1s ease-in;
}
.navbar5 .blog1.blog1:hover{
    width: 423px;
    margin: 0px 0 0 140px;
    border-radius: 10px;
    background: #FFF;
    padding: 55px;  
    cursor: pointer; 
    transform: scale(1.2); 
}
.navbar5 .blog1 img{
    width: 70px;
    height: 70px;
    margin: 5px 0 0 100px;
}
.navbar5 .blog1 h3{
    color: #1C274D;
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 500;
text-align: center;
line-height: normal;
margin-top: 30px;
}
.navbar5 .blog1 p{
    color: #636161;
text-align: center;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 43px;
}
/*  */
.navbar5 .blog2{
    width: 423px;
    margin: 0 0 0 140px;
    border-radius: 10px;
    background: #FFF;
    padding: 55px;    
    transition: all 1s ease-in;
}
.navbar5 .blog2:hover{
    width: 423px;
    margin: 0px 0 0 140px;
    border-radius: 10px;
    background: #FFF;
    padding: 55px;  
    cursor: pointer; 
    transform: scale(1.2); 
}
.navbar5 .blog2 img{
    width: 70px;
    height: 70px;
    margin: 5px 0 0 125px;
}
.navbar5 .blog2 h3{
    color: #1C274D;
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 500;
text-align: center;
line-height: normal;
margin-top: 30px;
}
.navbar5 .blog2 p{
    color: #636161;
text-align: center;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 400;

line-height: normal;
margin-top: 43px;
}


.navbar5 .blog3{
    width: 423px;
    margin: 0 0 0 140px;
    border-radius: 10px;
    background: #FFF;
    padding: 55px;     
    transition: all 1s ease-in;
    
}
.navbar5 .blog3:hover{
    width: 423px;
    margin: 0 0 0 140px;
    border-radius: 10px;
    background: #FFF;
    padding: 55px;     
    transform: scale(1.2);
    cursor: pointer;
}
.navbar5 .blog3 img{
    width: 70px;
    height: 70px;
    margin: 5px 0 0 125px;
}
.navbar5 .blog3 h3{
    color: #1C274D;
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
margin-top: 30px;
}
.navbar5 .blog3 p{
    color: #636161;
text-align: center;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 43px;
}
.navbar5 .blog2, .blog3{
    margin-left: 172px;
}
.navbar6{
    border-radius: 6px 6px 0px 0px;
background: linear-gradient(225deg, #011227 0%, #0B3E8C 100%);
box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);;
padding: 0 0 38px 0 ;
width: 1900px;
}
.navbar6 .blog1{
    display: flex;
    justify-content: space-around
}
.navbar6 .raqam1 {
    padding: 17px 0 0 70px;
}
.navbar6 .raqam1 span{
    border: 1px solid #fff;
    display: block;
    width: 34px;
    border-radius: 50px;
}
.navbar6 .raqam1 h2{
    color: #FFF;
font-family: Gilroy;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 45px;
}

/* ----------------yangiliklar------------- */

.yangilik{
    margin: 135px 0 0 80px;
}
.yangilik span{
    display: block;
    width: 72px;
    border: 1px solid #474F62;
    border-radius: 50px;
}
.yangilik h3{
    color: #474F62;
font-family: Merriweather;
font-size: 46px;
font-style: normal;
font-weight: 900;
}
.wrapper1{
    width: 1900px;
    background-color: #FAFDFF;
    position: relative;
  }
  .wrapper1 .carusel{
    display: flex;
    margin-left: 100px;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    
  }
  .wrapper1 .carusel::-webkit-scrollbar{
    height: 0;
  }
  .wrapper1 .carusel .card{
    width: 386.479px;
    height: 432.386px;
    border-radius: 10px;
    border: 1px solid #F7F7F7;
    background: #FFF;
    box-shadow: 0px 10px 30px 0px rgba(162, 182, 212, 0.15);
    padding: 10px;
    margin: 90px 30px;
  }
  .wrapper1 .carusel .card .img img{
    width: 365px;
  height: 220px;
  border-radius: 10px;
  }
  .wrapper1 .carusel .card .list{
    width: 295px;
    margin-left: 20px;
  }
  .wrapper1 .carusel .card .list p{
    color: #474F62;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-top: 36px;
  }
  .wrapper1 .carusel .card .list h3{
    color: #474F62;
  font-family: Merriweather;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  margin-top: 17px;
  }
  .wrapper1 .carusel .card .list .otish{
  margin-top: 19px;
  }
  .wrapper1 .carusel .card .list .otish a{
    color: #474F62;
    font-family: Merriweather;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .wrapper1 .carusel .card .list .otish a:hover{
    color: #3772FF;
  }
  .wrapper1 .button{
    position: absolute;
    top: 560px;
    display: flex;
    align-items: center;
  }
  .wrapper1 .button button{
    border: none;
    background-color: transparent;
    margin-left: 20px;
    align-items: center;
  
  }
  .wrapper1 .button .butttonImg1 img{
    cursor: pointer;
  }
  .wrapper1 .button .butttonImg2 img{
    transform: rotate(180deg);
    cursor: pointer;

  }
  
  
/* ---- */
.navbar8{
    width: 1900px;
    height: 665px;
    border-radius: 20px;
    background-color: #E7F4FF;;
    display: flex;
    justify-content: center;
}
.navbar8 form{
   width: 922px;
    background-color: #F4FAFF;
    height: 500px;
   border-radius: 20px;
   margin: 58px 499px;
}
.navbar8 form .blog1{
    display: flex;
    
}
.navbar8 form .blog1 p{
    margin: 70px 0 0 130px;
}
.navbar8 form input{
    width: 277px;
    height: 55px;
    border: none;
    margin: 2px 10px;
    font-size: 18px;
    outline: none;
}
.navbar8 form .border{
    width: 300px;
    margin: 13px 0 0 120px;
    height: 65px;
    border-radius: 16px;
    border: 1px solid rgba(24, 25, 69, 0.10);
    background: #FFF;
}
.navbar8 form .blog1 .box2 select{
    width: 277px;
    height: 55px;
    border: none;
    margin: 2px 10px;
    outline: none;
}
.navbar8 form select option{
    font-size: 24px;

    background-color: #e6e0e06b;
    
}


/* ---------FOOTER---------- */

footer{
    background: linear-gradient(221deg, #0B3E8C 0%, #001022 100%);
    margin-top: 650px;
    position: absolute;
    width: 1900px;
    height: 500px;
    display: flex;
    padding-bottom: 90px;
}


footer .blog1{
    position: absolute;
}
footer .blog1 .box1 img{
    width: 162px;
height: 162px;
    margin: 35px 0 0 134px;
}
footer .blog1 .box2 p{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin: 141px 0 0 140px;
}
footer .blog1 .box3 {
    display: flex;
    margin: 35px 0 0 100px;
}
footer .blog1 .box3 img{
    margin-left: 35px;
}
footer .blog2 {
    position: absolute;
    left: 400px;
    top: 60px;
}
footer .blog2 .box1{
    display: flex;
}

footer .blog2 .box1 .lin1{
    width: 210px;
}
footer .blog2 .box1 .lin1 h2{
    color: #FFF;
font-family: Merriweather;
font-size: 22px;
font-style: normal;
font-weight: 400;
}
footer .blog2 .box1 .lin1 a:nth-child(2){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: block;
text-align: start;
margin-top: 40px;
}
footer .blog2 .box1 .lin1 a:nth-child(3){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: block;
text-align: start;
margin-top: 20px;
}
footer .blog2 .box1 .lin1 a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
footer .blog2 .box1 .lin2{
    width: 190px;
    margin-left: 80px;
}
footer .blog2 .box1 .lin2 h2{
    color: #FFF;
font-family: Merriweather;
font-size: 22px;
font-style: normal;
font-weight: 400;
}
footer .blog2 .box1 .lin2 a:nth-child(2){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 40px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin2 a:nth-child(3){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 20px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin2 a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
footer .blog2 .box1 .lin3{
    width: 270px;
    margin-left: 60px;
}
footer .blog2 .box1 .lin3 h2{
    color: #FFF;
font-family: Merriweather;
font-size: 22px;
font-style: normal;
font-weight: 400;
}
footer .blog2 .box1 .lin3 a:nth-child(2){
    color: #FFF;

font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 40px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin3 a:nth-child(3){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 20px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin3 a:nth-child(4){
    color: #FFF;

font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 20px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin3 a:nth-child(5){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 20px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin3 a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
footer .blog2 .box1 .lin4{
    width: 200px;
    margin-left: 90px;
}
footer .blog2 .box1 .lin4 h2{
    color: #FFF;
font-family: Merriweather;
font-size: 22px;
font-style: normal;
font-weight: 400;
}
footer .blog2 .box1 .lin4 a:nth-child(2){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 40px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin4 a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
footer .blog2 .box2{
   text-align: center;
   margin-top: 140px;
}
footer .blog2 .box2 p{
    color: #FFF;
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
footer .blog3{
    margin: 336px 0 0 90px;
    position: absolute;
    left: 1400px;
    top: 15px;
}
footer .blog3 .box1 {
    display: flex;
    align-items: center;
}
footer .blog3 .box1 img{
    width: 44px;
    height: 44px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 10px;   
}
footer .blog3 .box1 a{
    color: #F5FAFE;
text-align: right;
font-family: Gilroy;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 20px;
}
footer .blog3 .box1 a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
footer .blog3 .box2 {
    display: flex;
    align-items: center;
    margin-top: 22px;
}
footer .blog3 .box2 img{
    width: 44px;
    height: 44px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 10px;   
}
footer .blog3 .box2 a{
    color: #F5FAFE;
text-align: right;
font-family: Gilroy;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 20px;
}
footer .blog3 .box2 a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
