*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@font-face{
    font-family: Gilroy;
    src: url(../font/Gilroy-UltraLight.ttf);
}
@font-face{
    font-family: Merriweather;
    src: url(../font/MERRIWEATHER-BOLD.TTF)
}
body{
    max-width: 1920px;
    background-color: #FAFDFF;
}
.menu{
    border-bottom: 1px solid #3772FF;
}
.menu{
    border-bottom: 1px solid #3772FF;
}
.menu ul {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 45px 0 0 300px;
}
.menu ul li:nth-child(1) a{
    display: flex;
    align-items: center;
}
.menu ul li:nth-child(1) img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.menu ul li a{
    color: #000;
    font-family: Gilroy;
    text-align: center;
    font-style: normal;
    font-size: 24px;
    font-weight: 600;
    margin-left: 80px;
    padding: 10px;
    cursor: pointer;
}
.menu ul li a:hover{
    color: #3772FF;
    transition: all 0.5s;
}


.num h2{
    color: #474F62;
    text-align: center;
    font-family: Merriweather;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 150px;
}

.bg1{
    background: #E7F4FF;
    transform: rotate(130deg);
    flex-shrink: 0;
    width: 1100px;
    height: 857px;
    border-radius: 50px;
    margin: 97px 0px 0px 655px;
    position: absolute;
}


/* -------------- */

.navbar3 h2:nth-child(1){
    color: #474F62;
font-family: Merriweather;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
margin-top: 200px;
}
.navbar3 .dflex{
    display: flex;
}
.navbar3 .dflex .blog1{
    width: 500px;
    margin: 140px 0 0 130px;
}

.navbar3 .dflex .blog1 span{
    display: block;
    width: 187px;
    height: 2px;
    border-radius: 15px;
    border: 2px solid #474F62;
    margin-top: 20px;
}
.navbar3 .dflex .blog1 a{
    color: #4541FF;
font-family: Merriweather;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 58.8px */
}
.navbar3 .dflex .blog1 h2{
    color: #00031A;
font-family: Raleway;
font-size: 42px;
font-style: normal;
font-weight: 500;
line-height: 140%;
width: 250px;
}
.navbar3 .dflex .blog1 p{
    color: #00031a9d;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 300;
margin-top: 19px;
line-height: 28px;
}
.navbar3 .dflex .blog2 img{
    position: relative;
    margin-left: 60px;
}
.navbar3 .dflex .blog2 .rasmflex{
    position: absolute;
    display: flex;
    top: 425px;
    left: 680px;
}
.navbar3 .dflex .blog2 .rasmflex .bet{
    width: 230px;
    margin: -100px 62px 0 55px;
}
.navbar3 .dflex .blog2 .rasmflex .bet h2:nth-child(1){
    color: #FFF;
font-family: Merriweather;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; 
text-align: start;
}
.navbar3 .dflex .blog2 .rasmflex .bet h2:nth-child(2){
    color: #FFF;
font-family: Raleway;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 140%;
}
.navbar3 .dflex .blog2 .rasmflex .bet p{
    color: #ffffffdc;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 30px; 
margin-top: 50px;
}
.navbar3 .dflex .blog2 .rasmflex .rasmlar .rasm1{
    display: flex;
}
.navbar3 .dflex .blog2 .rasmflex .rasmlar .rasm1 img:nth-child(1){
    width: 141px;
height: 141px;
    margin: 50px 60px 1px 90px;
}
.navbar3 .dflex .blog2 .rasmflex .rasmlar .rasm1 img:nth-child(2){
    width: 141px;
    height: 141px;
    margin: 50px 0 0 1px;
}
.navbar3 .dflex .blog2 .rasmflex .rasmlar .rasm1 img:nth-child(3){
    width: 169px;
height: 169px;
    margin: 35px 0 0 32px;
}

.navbar3 .dflex .blog2 .rasmflex .rasmlar .rasm2{
    display: flex;
}
.navbar3 .dflex .blog2 .rasmflex .rasmlar .rasm2 img:nth-child(1){
    width: 198px;
    height: 198px;
    margin: 22px 37px 0  0;
}
.navbar3 .dflex .blog2 .rasmflex .rasmlar .rasm2 img:nth-child(2){
    width: 141px;
    height: 141px;
    margin: 56px 23px 0 0 ;
}
.navbar3 .dflex .blog2 .rasmflex .rasmlar .rasm2 img:nth-child(3){
    width: 116px;
    height: 116px; 
    margin: 62px 25px 0 0;  
}.navbar3 .dflex .blog2 .rasmflex .rasmlar .rasm2 img:nth-child(4){
    width: 136px;
    height: 170px;
    margin:  45px 0 0 0;
}
.navbar3 .dflex .blog2 .rasmflex .rasmlar .rasm3 img:nth-child(1){
    width: 174px;
    height: 174px;
    margin: 20px 0 0 30px;
}
.navbar3 .dflex .blog2 .rasmflex .rasmlar .rasm3 img:nth-child(2){
    width: 141px;
    height: 145px;
    margin: 22px 0 0 60px;
}
.navbar3 .dflex .blog2 .rasmflex .rasmlar .rasm3 img:nth-child(3){
    width: 227px;
    height: 141px;
    margin: 22px 0 0 52px;
}

/* ------------------------ */
.navbar4{
    width: 1644px;
    height: 910px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.10);
    margin: 130px;
 
}

.navbar4 h2{
    color: #474F62;
    font-family: Merriweather;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center; 
    padding-top: 120px;

}
.navbar4 .ikkioyna{
    display: flex;
}
.navbar4 .ikkioyna img{
    width: 520px;
    height: 522px;
    margin: 50px 0 0 80px;
} 
.navbar4 .ikkioyna .blog1{
    width: 680px;
    margin: 90px 0 0 240px;
}
.navbar4 .ikkioyna .blog1 p{
    color: #00031aa2;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    margin-top: 25px;
}




/* ---------FOOTER---------- */

footer{
    background: linear-gradient(221deg, #0B3E8C 0%, #001022 100%);
    margin-top: 20px;
    position: absolute;
    width: 1900px;
    height: 500px;
    display: flex;
    padding-bottom: 90px;
}


footer .blog1{
    position: absolute;
}
footer .blog1 .box1 img{
    width: 162px;
height: 162px;
    margin: 35px 0 0 134px;
}
footer .blog1 .box2 p{
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin: 141px 0 0 140px;
}
footer .blog1 .box3 {
    display: flex;
    margin: 35px 0 0 100px;
}
footer .blog1 .box3 img{
    margin-left: 35px;
}
footer .blog2 {
    position: absolute;
    left: 400px;
    top: 60px;
}
footer .blog2 .box1{
    display: flex;
}

footer .blog2 .box1 .lin1{
    width: 210px;
}
footer .blog2 .box1 .lin1 h2{
    color: #FFF;
font-family: Merriweather;
font-size: 22px;
font-style: normal;
font-weight: 400;
}
footer .blog2 .box1 .lin1 a:nth-child(2){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: block;
text-align: start;
margin-top: 40px;
}
footer .blog2 .box1 .lin1 a:nth-child(3){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: block;
text-align: start;
margin-top: 20px;
}
footer .blog2 .box1 .lin1 a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
footer .blog2 .box1 .lin2{
    width: 190px;
    margin-left: 80px;
}
footer .blog2 .box1 .lin2 h2{
    color: #FFF;
font-family: Merriweather;
font-size: 22px;
font-style: normal;
font-weight: 400;
}
footer .blog2 .box1 .lin2 a:nth-child(2){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 40px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin2 a:nth-child(3){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 20px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin2 a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
footer .blog2 .box1 .lin3{
    width: 270px;
    margin-left: 60px;
}
footer .blog2 .box1 .lin3 h2{
    color: #FFF;
font-family: Merriweather;
font-size: 22px;
font-style: normal;
font-weight: 400;
}
footer .blog2 .box1 .lin3 a:nth-child(2){
    color: #FFF;

font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 40px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin3 a:nth-child(3){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 20px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin3 a:nth-child(4){
    color: #FFF;

font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 20px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin3 a:nth-child(5){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 20px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin3 a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
footer .blog2 .box1 .lin4{
    width: 200px;
    margin-left: 90px;
}
footer .blog2 .box1 .lin4 h2{
    color: #FFF;
font-family: Merriweather;
font-size: 22px;
font-style: normal;
font-weight: 400;
}
footer .blog2 .box1 .lin4 a:nth-child(2){
    color: #FFF;
font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-top: 40px;
display: block;
text-align: start;
}
footer .blog2 .box1 .lin4 a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
footer .blog2 .box2{
   text-align: center;
   margin-top: 140px;
}
footer .blog2 .box2 p{
    color: #FFF;
font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
footer .blog3{
    margin: 336px 0 0 90px;
    position: absolute;
    left: 1400px;
    top: 15px;
}
footer .blog3 .box1 {
    display: flex;
    align-items: center;
}
footer .blog3 .box1 img{
    width: 44px;
    height: 44px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 10px;   
}
footer .blog3 .box1 a{
    color: #F5FAFE;
text-align: right;
font-family: Gilroy;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 20px;
}
footer .blog3 .box1 a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
footer .blog3 .box2 {
    display: flex;
    align-items: center;
    margin-top: 22px;
}
footer .blog3 .box2 img{
    width: 44px;
    height: 44px;
    padding: 8px;
    background-color: #ffffff;
    border-radius: 10px;   
}
footer .blog3 .box2 a{
    color: #F5FAFE;
text-align: right;
font-family: Gilroy;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin-left: 20px;
}
footer .blog3 .box2 a:hover{
    color: #3772FF;
    transition: all 0.5s;
}
