<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dars jadvali</title>
    <link rel="stylesheet" href="css/eightstyle.css">
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <a href="index.html">
                    <img src="img/logo.png" alt="">
                    <p>Raqamli iqtisodiyot</p>
                </a>
            </li>
            <li><a href="twoindex.html">Fakultetlar haqida</a></li>
            <li><a href="threeindex.html">Ta’lim</a></li>
            <li><a href="fiveindex.html">Kafedralar</a></li>
            <li><a href="sixindex.html">Tadqiqotlar</a></li>
        </ul>
    </div>
    <div class="nav">
        <h2 class="num">
            Dars jadvali
        </h2>
        <div class="navbar1">
            <div class="blog1">
                <div class="box1">
                    <p>Dars vaqti</p>
                </div>
                <div class="box2">
                    <p>Dushanba</p>
                </div>
                <div class="box3">
                    <p>Seshanba</p>
                </div>
                <div class="box4">
                    <p>Chorshanba</p>
                </div>
                <div class="box5">
                    <p>Payshanba</p>
                </div>
                <div class="box6">
                    <p>Juma</p>
                </div>
                <div class="box7">
                    <p>Shanba</p>
                </div>
            </div>
            <div class="blog2">
                <div class="box1">
                    <p>1</p>
                </div>
                <div class="box2">
                    <p>Iqtisod nazariyasi</p>
                </div>
                <div class="box3">
                    <p> </p>
                </div>
                <div class="box4">
                    <p></p>
                </div>
                <div class="box5">
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                </div>
            </div>
            <div class="blog3">
                <div class="box1">
                    <p>O’qituvchi</p>
                    <p>Vaqt</p>
                    <p>Hona</p>
                </div>
                <div class="box2">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box3">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box4">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box5">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="blog2">
                <div class="box1">
                    <p>2</p>
                </div>
                <div class="box2">
                    <p>Iqtisod nazariyasi</p>
                </div>
                <div class="box3">
                    <p> </p>
                </div>
                <div class="box4">
                    <p></p>
                </div>
                <div class="box5">
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                </div>
            </div>
            <div class="blog3">
                <div class="box1">
                    <p>O’qituvchi</p>
                    <p>Vaqt</p>
                    <p>Hona</p>
                </div>
                <div class="box2">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box3">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box4">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box5">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="blog2">
                <div class="box1">
                    <p>3</p>
                </div>
                <div class="box2">
                    <p>Iqtisod nazariyasi</p>
                </div>
                <div class="box3">
                    <p> </p>
                </div>
                <div class="box4">
                    <p></p>
                </div>
                <div class="box5">
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                </div>
            </div>
            <div class="blog3">
                <div class="box1">
                    <p>O’qituvchi</p>
                    <p>Vaqt</p>
                    <p>Hona</p>
                </div>
                <div class="box2">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box3">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box4">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box5">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="blog2">
                <div class="box1">
                    <p>4</p>
                </div>
                <div class="box2">
                    <p>Iqtisod nazariyasi</p>
                </div>
                <div class="box3">
                    <p> </p>
                </div>
                <div class="box4">
                    <p></p>
                </div>
                <div class="box5">
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                </div>
            </div>
            <div class="blog3">
                <div class="box1">
                    <p>O’qituvchi</p>
                    <p>Vaqt</p>
                    <p>Hona</p>
                </div>
                <div class="box2">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box3">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box4">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box5">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="blog2">
                <div class="box1">
                    <p>5</p>
                </div>
                <div class="box2">
                    <p>Iqtisod nazariyasi</p>
                </div>
                <div class="box3">
                    <p> </p>
                </div>
                <div class="box4">
                    <p></p>
                </div>
                <div class="box5">
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                </div>
            </div>
            <div class="blog3">
                <div class="box1">
                    <p>O’qituvchi</p>
                    <p>Vaqt</p>
                    <p>Hona</p>
                </div>
                <div class="box2">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box3">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box4">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box5">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="blog2">
                <div class="box1">
                    <p>6</p>
                </div>
                <div class="box2">
                    <p>Iqtisod nazariyasi</p>
                </div>
                <div class="box3">
                    <p> </p>
                </div>
                <div class="box4">
                    <p></p>
                </div>
                <div class="box5">
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                </div>
            </div>
            <div class="blog3">
                <div class="box1">
                    <p>O’qituvchi</p>
                    <p>Vaqt</p>
                    <p>Hona</p>
                </div>
                <div class="box2">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box3">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box4">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box5">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="blog2">
                <div class="box1">
                    <p>7</p>
                </div>
                <div class="box2">
                    <p>Iqtisod nazariyasi</p>
                </div>
                <div class="box3">
                    <p> </p>
                </div>
                <div class="box4">
                    <p></p>
                </div>
                <div class="box5">
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                </div>
            </div>
            <div class="blog3">
                <div class="box1">
                    <p>O’qituvchi</p>
                    <p>Vaqt</p>
                    <p>Hona</p>
                </div>
                <div class="box2">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box3">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box4">
                    <p>Azimov Ahror</p>
                    <p>09:45</p>
                    <p>4/2</p>
                </div>
                <div class="box5">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box6">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <div class="box7">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <footer>

        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>

    <div class="blog1">
        <div class="box1">
            <img src="img/logo.png" alt="">
        </div>
        <div class="box2">
            <p>Raqamli iqtisodiyot fakulteti</p>
        </div>
        <div class="box3">
            <a href="#"><img src="img/kontr1.png" alt=""></a>
            <a href="#"><img src="img/kontr2.png" alt=""></a>
           <a href="#"> <img src="img/kontr3.png" alt=""></a>
        </div>
    </div>
    <div class="blog2">
        <div class="box1">
            <div class="lin1">
                <h2>Fakultet haqida</h2>
                <a href="#">Professorlar</a>
                <a href="#">Raqamli iqtisodiyot haqida</a>
            </div>
            <div class="lin2">
                <h2>Ta’lim</h2>
                <a href="#">Bakalaviatura</a>
                <a href="#">Magistratura</a>
            </div>
            <div class="lin3">
                <h2>Kafedralar</h2>
                <a href="#">Iqtisodiy xavfsizlik</a>
                <a href="#">Raqamli iqtisodiyot va axborot 
                    texnologiyalari</a>
                <a href="#">Innovatsion ta’lim</a>
                <a href="#">Iqtisodiyotda matematik metodlar</a>
            </div>
            <div class="lin4">
                <h2>Tadqiqotlar</h2>
                <a href="#">O’tkazilgan tadqiqotlar</a>
            </div>
        </div>
        <div class="box2">
            <p>Copyright 2022.com, All rights reserved.</p>
        </div>
    </div>
    <div class="blog3">
        <div class="box1">
            <img src="img/tel2.png" alt="">
            <a href="#">+(000) 000 000</a>
        </div>
        <div class="box2">
            <img src="img/email.png" alt="">
            <a href="#">@mail.com</a>
        </div>
    </div>
    </footer>
</body>
</html>