<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta n ame="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/elevnstyle.css">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <a href="index.html">
                    <img src="img/logo.png" alt="">
                    <p>Raqamli iqtisodiyot</p>
                </a>
            </li>
            <li><a href="twoindex.html">Fakultetlar haqida</a></li>
            <li><a href="threeindex.html">Ta’lim</a></li>
            <li><a href="fiveindex.html">Kafedralar</a></li>
            <li><a href="sixindex.html">Tadqiqotlar</a></li>
        </ul>
    </div>
    <div class="num">
        <h2>
            Fakultet hayoti
        </h2>
    </div>
    <div class="bg1">
        
    </div>
    <div class="navbar1">
        <div class="blog1">
            <span></span>
            <a href="#">Talabalar hayoti</a>
            <h2>Analytics, & Leadership</h2>
           <div class="box">
            <p>
                We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
            </p>
            <p>
                We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
            </p>
            <p>
                We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
            </p>
           </div>
        </div>
        <div class="blog2">
            <a href="#" class="box1">
                <h2>Talabalar hayoti</h2>
                <div class="bc">
                    <img src="img/oynaonbir1.png" alt="">
                </div>
            </a>
            <a href="#" class="box1">
                <h2>Tadqiqotlar</h2>
                <div class="bc1">
                    <img src="img/oynaonbir2.png" alt="">
                </div>
            </a>
            <a href="#" class="box1">
                <h2>analiz va statistika</h2>
                <div class="bc2">
                    <img src="img/oynaonbir3.png" alt="">
                </div>
            </a>
            <a href="#" class="box1">
                <h2>texnologiya</h2>
                <div class="bc3">
                    <img src="img/oynaonbir4.png" alt="">
                </div>
            </a>
            <a href="#" class="box1">
                <h2>yangiliklar</h2>
                <div class="bc4">
                    <img src="img/oynaonbir5.png" alt="">
                </div>
            </a>
        </div>
    </div>
    <div class="navbar2">
        <h2>Fakultet hayoti</h2>
        <div class="disp">
            <div class="blog1">
                <div class="box1">
                    <div class="rasm1">
                        <img src="img/oyna_11_1.png" alt="">
                        <img src="img/oyna_11_2.png" alt="">
                    </div>
                    <div class="rasm2">
                        <img src="img/oyna_11_3.png" alt="">
                    </div>
                </div>
                <div class="box2">
                    <div class="rasm1">
                        <img src="img/oyna_11_4.png" alt="">
                    </div>
                    <div class="rasm2">
                        <img src="img/oyna_11_5.png" alt="">
                        <img src="img/oyna_11_6.png" alt="">
                    </div>
                </div>
            </div>
            <div class="blog2">
                <p>
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
                </p>
                <p>
                    We offer dedicated organisational consultancy, market intelligence, and optimized analytical support.
                </p>
                <p>
                    We are truly determined to transform your ideas into something great. Through the power of creativity and collaboration, we will strive to take you on an unforgettable journey that will leave a long-lasting impact on your business.
                </p>
                <p>
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
                </p>
                <p>
                    We offer dedicated organisational consultancy, market intelligence, and optimized analytical support.
                </p>
                <p>
                    We are truly determined to transform your ideas into something great. Through the power of creativity and collaboration, we will strive to take you on an unforgettable journey that will leave a long-lasting impact on your business.
                </p>
                <p>
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
                </p>
                <p>
                    We are truly determined to transform your ideas into something great. Through the power of creativity and collaboration, we will strive to take you on an unforgettable journey that will leave a long-lasting impact on your business.
                </p>
                <p>
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
                </p>
                <p>
                    We offer dedicated organisational consultancy, market intelligence, and optimized analytical support.
                </p>
                <p>
                    We are truly determined to transform your ideas into something great. Through the power of creativity and collaboration, we will strive to take you on an unforgettable journey that will leave a long-lasting impact on your business.
                </p>
            </div>
        </div>
    </div>
    <div class="navbar3">
        <h2>Fakultet sport</h2>
        <div class="dflex">
            <div class="blog1">
                <span></span>
                <a href="#">Sport</a>
                <h2>Analytics, & Leadership</h2>
                <p>
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
                </p>
                <p>
                    We offer dedicated organisational consultancy, market intelligence, and optimized analytical support.
                </p>
                <p>
                    We are truly determined to transform your ideas into something great. Through the power of creativity and collaboration, we will strive to take you on an unforgettable journey that will leave a long-lasting impact on your business.
                </p>
            </div>
            <div class="blog2">
                <img src="img/Background.png" alt="">
               <div class="rasmflex">
                <div class="bet">
                    <h2>Sport</h2>
                    <h2>Analytics, &Leadership</h2>
                    <p>
                        We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
                    </p>
                </div>
                <div class="rasmlar">
                    <div class="rasm1">
                        <img src="img/oyna_11_7.png" alt="">
                        <img src="img/oyna_11_8.png" alt="">
                        <img src="img/oyna_11_10.png" alt="">
                    </div>
                    <div class="rasm2">
                        <img src="img/oyna_11_9.png" alt="">
                        <img src="img/oyna_11_8.png" alt="">
                        <img src="img/oyna_11_11.png" alt="">
                        <img src="img/oyna_11_12.png" alt="">
                    </div>
                    <div class="rasm3">
                        <img src="img/oyna_11_13.png" alt="">
                        <img src="img/oyna_11_12.png" alt="">
                        <img src="img/oyna_11_10.png" alt="">
                    </div>
                </div>
               </div>
            </div>
        </div>
    </div>
    <div class="navbar4">
        <h2>Fakultet sport</h2>
        <div class="ikkioyna">
            <img src="img/oyna_11_15.png" alt="">
            <div class="blog1">
                <p>
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
                </p>
                <p>
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
                </p>
                <p>
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
                </p>
                <p>
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
                </p>
                <p>
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
                </p>
                <p>
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed.
                </p>
            </div>
        </div>
    </div>
    <footer>

        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>

    <div class="blog1">
        <div class="box1">
            <img src="img/logo.png" alt="">
        </div>
        <div class="box2">
            <p>Raqamli iqtisodiyot fakulteti</p>
        </div>
        <div class="box3">
            <a href="#"><img src="img/kontr1.png" alt=""></a>
            <a href="#"><img src="img/kontr2.png" alt=""></a>
           <a href="#"> <img src="img/kontr3.png" alt=""></a>
        </div>
    </div>
    <div class="blog2">
        <div class="box1">
            <div class="lin1">
                <h2>Fakultet haqida</h2>
                <a href="#">Professorlar</a>
                <a href="#">Raqamli iqtisodiyot haqida</a>
            </div>
            <div class="lin2">
                <h2>Ta’lim</h2>
                <a href="#">Bakalaviatura</a>
                <a href="#">Magistratura</a>
            </div>
            <div class="lin3">
                <h2>Kafedralar</h2>
                <a href="#">Iqtisodiy xavfsizlik</a>
                <a href="#">Raqamli iqtisodiyot va axborot 
                    texnologiyalari</a>
                <a href="#">Innovatsion ta’lim</a>
                <a href="#">Iqtisodiyotda matematik metodlar</a>
            </div>
            <div class="lin4">
                <h2>Tadqiqotlar</h2>
                <a href="#">O’tkazilgan tadqiqotlar</a>
            </div>
        </div>
        <div class="box2">
            <p>Copyright 2022.com, All rights reserved.</p>
        </div>
    </div>
    <div class="blog3">
        <div class="box1">
            <img src="img/tel2.png" alt="">
            <a href="#">+(000) 000 000</a>
        </div>
        <div class="box2">
            <img src="img/email.png" alt="">
            <a href="#">@mail.com</a>
        </div>
    </div>
    </footer>
</body>
</html>