{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bechinchi oyna</title>
    <link rel="stylesheet" href="{%  static 'css/fivestyle.css' %}">
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <a href="{% url 'home'%}">
                    <img src="{%  static 'img/logo.png' %}" alt="">
                    <p>Raqamli iqtisodiyot</p>
                </a>
            </li>
            <li><a href="{% url 'about' %}">Fakultet haqida</a></li>
                <li><a href="{% url 'tech' %}">Ta'lim</a></li>
                <li><a href="{% url 'departament' %}">Kafedralar</a></li>
                <li><a href="{% url 'tadqiqot' %}">Tadqiqotlar</a></li>
        </ul>
    </div>
    <div class="num">
        <h2>
            Kafedralar
        </h2>
    </div>

    <div class="navbar1">
        <div class="blog1">
            <div class="box1">
                <span></span>
                <h2>Statistika</h2>
            </div>
            <div class="box2">
                <a href="">Statistika turlari </a>
                <p>
                   Statistika kafedrasiga 1932 yilda asos solingan. 1953 yildan boshlab Statistika ta’lim yo’nalishi bo’yicha talabalar tayyorlab kelinmoqda.
                   1997 yildan boshlab Statistika talim yo’nalish bo’yicha bakalavriyatda va 2000 yildan boshlab Statistika mutaxassisligi bo’yicha magistraturada talabalar taxsil olib kelmoqda.
                    O‘quv rejani shakllantirishda Stanford University o‘quv rejasidan andoza olingan. 2020-yilda butun jahon Times Higher Education(THE) world university rankings.da 4 o‘rinni egallaydi.

                </p>
                <p>
                    O‘quv rejani shakllantirishda
                    “The University of Chicago”  o‘quv rejasidan andoza olingan.
                    2020-yilda butun jahon Times Higher Education(THE) world university rankings da 9 o‘rinni egallaydi.
                    <b>Tadqiqot yo’nalishlari</b>: Statistika nazariyasi, amaliy statistika,
                    xalqaro statistika, statistik prognozlash, tashqi savdo statistikasi.
                    Statistika kafedrasiga Ayubjonov A.H. i.f.n. dotsent 2007 yildan boshlab hozirgi davrgacha rahbarlik qilib kelmoqda.

                </p>

            </div>
        </div>
        <div class="blog2">
            <img src="{% static 'img/statistika.png' %}" alt="">
        </div>
    </div>

    <div class="navbar2">
        <div class="blog2">
            <img src="{% static 'img/suniy_intelekt' %}" alt="">
        </div>
        <div class="blog1">            
            <div class="box1">
                <span></span>
                <h2>Sun’iy intellekt</h2>
            </div>
            <div class="box2">
                <a href="#">Sun’iy intellekt turlari </a>
                <p>
                    Sun’iy intellekt kafedrasi Toshkent davlat iqtisodiyot universiteti
                    rektorining 359-sonli buyrug’iga asosan, 2022 yil 1
                    dekabrda tashkil etildi.
                </p>
                <p>
                    Toshkent davlat iqtisodiyot universitetida Sun’iy intellekt kafedrasi universitetning o‘quv, o‘quv-uslubiy va moddiy texnik bazasi ushbu ta’lim
                    sohasida yuqori malakali kadrlar tayyorlashga imkon beradi. Ushbu olib borilayotgan barcha tizimli islohotlar O‘zbekistonning
                    barcha iqtisodiyot sohalarida raqamli trasformatsiya jarayonini jadallashtiradi va sun’iy intellekt texnologiyalari keng joriy etish imkoniyatini taqdim etadi.
                </p>

            </div>
        </div>
    </div>

  
    <footer>

        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>

    <div class="blog1">
        <div class="box1">
            <img src="img/logo.png" alt="">
        </div>
        <div class="box2">
            <p>Raqamli iqtisodiyot fakulteti</p>
        </div>
        <div class="box3">
            <a href="#"><img src="img/kontr1.png" alt=""></a>
            <a href="#"><img src="img/kontr2.png" alt=""></a>
           <a href="#"> <img src="img/kontr3.png" alt=""></a>
        </div>
    </div>
    <div class="blog2">
        <div class="box1">
            <div class="lin1">
                <h2>Fakultet haqida</h2>
                <a href="#">Professorlar</a>
                <a href="#">Raqamli iqtisodiyot haqida</a>
            </div>
            <div class="lin2">
                <h2>Ta’lim</h2>
                <a href="#">Bakalaviatura</a>
                <a href="#">Magistratura</a>
            </div>
            <div class="lin3">
                <h2>Kafedralar</h2>
                <a href="#">Iqtisodiy xavfsizlik</a>
                <a href="#">Raqamli iqtisodiyot va axborot 
                    texnologiyalari</a>
                <a href="#">Innovatsion ta’lim</a>
                <a href="#">Iqtisodiyotda matematik metodlar</a>
            </div>
            <div class="lin4">
                <h2>Tadqiqotlar</h2>
                <a href="#">O’tkazilgan tadqiqotlar</a>
            </div>
        </div>
        <div class="box2">
            <p>Copyright 2022.com, All rights reserved.</p>
        </div>
    </div>
    <div class="blog3">
        <div class="box1">
            <img src="img/tel2.png" alt="">
            <a href="#">+(000) 000 000</a>
        </div>
        <div class="box2">
            <img src="img/email.png" alt="">
            <a href="#">@mail.com</a>
        </div>
    </div>
    </footer>
</body>
</html>