{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bechinchi oyna</title>
    <link rel="stylesheet" href="{%  static 'css/fivestyle.css' %}">
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <a href="{% url 'home'%}">
                    <img src="{%  static 'img/logo.png' %}" alt="">
                    <p>Raqamli iqtisodiyot</p>
                </a>
            </li>
            <li><a href="{% url 'about' %}">Fakultet haqida</a></li>
                <li><a href="{% url 'tech' %}">Ta'lim</a></li>
                <li><a href="{% url 'departament' %}">Kafedralar</a></li>
                <li><a href="{% url 'tadqiqot' %}">Tadqiqotlar</a></li>
        </ul>
    </div>
    <div class="num">
        <h2>
            Kafedralar
        </h2>
    </div>
    {% for i in departaments %}
        {% if i.id in list1 %}
    <div class="navbar1">
        <div class="blog1">
            <div class="box1">
                <span></span>
                <h2>{{ i.title}}</h2>
            </div>
            <div class="box2">
                <a href="#">{{i.name}} turlari </a>
                <p>
                    {{ i.body }}
                </p>

            </div>
        </div>
        <div class="blog2">
            <img src="{{ i.image.url }}" alt="">
        </div>
    </div>
        {% else %}
    <div class="navbar2">
        <div class="blog2">
            <img src="{{ i.image.url }}" alt="">
        </div>
        <div class="blog1">            
            <div class="box1">
                <span></span>
                <h2>Iqtisodiy xavfsizlik</h2>
            </div>
            <div class="box2">
                <a href="#">Iqtisodiy xavfsizlik turlari </a>
                <p>
                    State and political figure, the first president of the Republic of Uzbekistan. Hero Of Uzbekistan (1994). Supreme Commander-in-chief of the Armed Forces of Uzbekistan and winner of the presidential elections of 2007, winner of the presidential elections of 2015. The first secretary of the Communist Party of Uzbekistan until the declaration of independence. President of Uzbekistan from 1991 to the end of his life. Under the leadership of Islam Karimov, Uzbekistan had its own constitution, was recognized in the UN and had equal relations with the CIS countries.
                </p>
                <p>
                    State and political figure, the first president of the Republic of Uzbekistan. Hero Of Uzbekistan (1994). Supreme Commander-in-chief of the Armed Forces of Uzbekistan and winner of the presidential elections of 2007, winner of the presidential elections of 2015. The first secretary of the Communist Party of Uzbekistan until the declaration of independence. President of Uzbekistan from 1991 to the end of his life. Under the leadership of Islam Karimov, Uzbekistan had its own constitution, was recognized in the UN and had equal relations with the CIS countries.
                </p>
            </div>
        </div>
    </div>
        {% endif %}
    {% endfor %}
  
    <footer>

        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>

    <div class="blog1">
        <div class="box1">
            <img src="img/logo.png" alt="">
        </div>
        <div class="box2">
            <p>Raqamli iqtisodiyot fakulteti</p>
        </div>
        <div class="box3">
            <a href="#"><img src="img/kontr1.png" alt=""></a>
            <a href="#"><img src="img/kontr2.png" alt=""></a>
           <a href="#"> <img src="img/kontr3.png" alt=""></a>
        </div>
    </div>
    <div class="blog2">
        <div class="box1">
            <div class="lin1">
                <h2>Fakultet haqida</h2>
                <a href="#">Professorlar</a>
                <a href="#">Raqamli iqtisodiyot haqida</a>
            </div>
            <div class="lin2">
                <h2>Ta’lim</h2>
                <a href="#">Bakalaviatura</a>
                <a href="#">Magistratura</a>
            </div>
            <div class="lin3">
                <h2>Kafedralar</h2>
                <a href="#">Iqtisodiy xavfsizlik</a>
                <a href="#">Raqamli iqtisodiyot va axborot 
                    texnologiyalari</a>
                <a href="#">Innovatsion ta’lim</a>
                <a href="#">Iqtisodiyotda matematik metodlar</a>
            </div>
            <div class="lin4">
                <h2>Tadqiqotlar</h2>
                <a href="#">O’tkazilgan tadqiqotlar</a>
            </div>
        </div>
        <div class="box2">
            <p>Copyright 2022.com, All rights reserved.</p>
        </div>
    </div>
    <div class="blog3">
        <div class="box1">
            <img src="img/tel2.png" alt="">
            <a href="#">+(000) 000 000</a>
        </div>
        <div class="box2">
            <img src="img/email.png" alt="">
            <a href="#">@mail.com</a>
        </div>
    </div>
    </footer>
</body>
</html>