<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tortinchi oyna</title>
    <link rel="stylesheet" href="css/forstyle.css">
</head>
<body>
  <div class="menu">
    <ul>

        <li>
            <a href="index.html">
                <img src="img/logo.png" alt="">
                <p>Raqamli iqtisodiyot</p>
            </a>
        </li>
        <li><a href="twoindex.html">Fakultetlar haqida</a></li>
        <li><a href="threeindex.html">Ta’lim</a></li>
        <li><a href="fiveindex.html">Kafedralar</a></li>
        <li><a href="sixindex.html">Tadqiqotlar</a></li>
    </ul>
</div>
    <h2 class="num">
        Yangiliklar
    </h2>
    <div class="bg1"></div>
    <div class="navbar">
        <div class="box1">
            <img src="img/birinchi oyna orqa fon.png" alt="">
        </div>
        <div class="box2">
            <p>
                Raqamli iqtisodiyot insonlarning turmush darajasini sezilarli darajada oshiradi, bu uning asosiy foydasidir.
            </p>
            <p>
                Raqamli iqtisodiyot korrupsiya va “qora iqtisodiyot”ning asosiy kushandasidir. Chunki, raqamlar hamma narsani muhrlaydi, xotirada saqlaydi, kerak paytda ma’lumotlarni tez taqdim etadi. Bunday sharoitda biron ma’lumotni yashirish, yashirin bitimlar tuzish, u yoki bu faoliyat haqida to‘liq axborot bermaslikning iloji yo‘q, kompyuter hammasini namoyon qilib qo‘yadi. Ma’lumotlar ko‘pligi va tizimliligi yolg‘on va qing‘ir ishlarga yo‘l bermaydi, chunki tizimni aldash imkonsiz. Natijada “iflos pullarni” yuvish, mablag‘larni o‘g‘irlash, samarasiz va maqsadsiz sarflash, oshirib yo yashirib ko‘rsatish imkoni qolmaydi. Bu esa iqtisodiyotga legal mablag‘lar oqimini oshiradi, soliqlar o‘z vaqtida va to‘g‘ri to‘lanadi, byudjet taqsimoti ochiq bo‘ladi, ijtimoiy sohaga yo‘naltirilgan mablag‘lar o‘g‘irlanmaydi, maktablar, kasalxonalar, yo‘llarga ajratilgan pullar to‘liq yetib boradi va hokazo.
            </p>
            <p>
                Davlatning raqamli iqtisodiyotni rivojlantirish yo‘lini tanlaganligi axborot texnologiyalari sohasida va umuman, elektron hujjatlar aylanmasi sohasida yangi yo‘nalishlar ochib beradi. “Raqamli texnologiyalar” tomon burilishga butun jahon internet tarmog‘i va sifatli aloqaning rivojlanishi sababchi bo‘ldi.
            </p>
            <p>
                Prezident Shavkat Mirziyoevning Oliy Majlis Senati va Qonunchilik palatasiga qilgan Murojaatnomasida “2020-yil – Ilm- ma’rifat va raqamli iqtisodiyot yili” deb e’lon qilindi. Shundan keyin fuqarolarda “raqamli iqtisodiyot” atamasi haqida ko‘plab savollar tug‘ila boshladi.
            </p>
            <p>
                Raqamli iqtisodiyot – bu iqtisodiy, ijtimoiy va madaniy aloqalarni raqamli texnologiyalarni qo‘llash asosida amalga oshirish tizimidir. Ba’zida u internet iqtisodiyoti, yangi iqtisodiyot yoki veb-iqtisodiyot degan terminlar bilan ham ifodalanadi.
            </p>
            <p>
                Raqamli iqtisodiyot - bu xo'jalik faoliyatini yuritish bo'lib, bunda ishlab chiqarish va xizmat ko'rsatishdagi asosiy omil raqamlar ko'rinishidagi ma'lumotlar bo'lib, katta hajmdagi axborotlarni qayta ishlash va shu qayta ishlash natijasini analiz qilish yordamida har xil turdagi ishlab chiqarish, xizmat ko'rsatish, texnologiyalar, qurilmalar, saqlash, mahsulotlarni yetkazib berishda oldingi tizimdan samaraliroq yechimlar tadbiq qilishdir.
            </p>
        </div>
    </div>
    <div class="bg2"></div>
    <div class="navbar2">
        <div class="box2">
            <p>
                Raqamli iqtisodiyot insonlarning turmush darajasini sezilarli darajada oshiradi, bu uning asosiy foydasidir.
            </p>
            <p>
                Raqamli iqtisodiyot korrupsiya va “qora iqtisodiyot”ning asosiy kushandasidir. Chunki, raqamlar hamma narsani muhrlaydi, xotirada saqlaydi, kerak paytda ma’lumotlarni tez taqdim etadi. Bunday sharoitda biron ma’lumotni yashirish, yashirin bitimlar tuzish, u yoki bu faoliyat haqida to‘liq axborot bermaslikning iloji yo‘q, kompyuter hammasini namoyon qilib qo‘yadi. Ma’lumotlar ko‘pligi va tizimliligi yolg‘on va qing‘ir ishlarga yo‘l bermaydi, chunki tizimni aldash imkonsiz. Natijada “iflos pullarni” yuvish, mablag‘larni o‘g‘irlash, samarasiz va maqsadsiz sarflash, oshirib yo yashirib ko‘rsatish imkoni qolmaydi. Bu esa iqtisodiyotga legal mablag‘lar oqimini oshiradi, soliqlar o‘z vaqtida va to‘g‘ri to‘lanadi, byudjet taqsimoti ochiq bo‘ladi, ijtimoiy sohaga yo‘naltirilgan mablag‘lar o‘g‘irlanmaydi, maktablar, kasalxonalar, yo‘llarga ajratilgan pullar to‘liq yetib boradi va hokazo.
            </p>
            <p>
                Davlatning raqamli iqtisodiyotni rivojlantirish yo‘lini tanlaganligi axborot texnologiyalari sohasida va umuman, elektron hujjatlar aylanmasi sohasida yangi yo‘nalishlar ochib beradi. “Raqamli texnologiyalar” tomon burilishga butun jahon internet tarmog‘i va sifatli aloqaning rivojlanishi sababchi bo‘ldi.
            </p>
            <p>
                Prezident Shavkat Mirziyoevning Oliy Majlis Senati va Qonunchilik palatasiga qilgan Murojaatnomasida “2020-yil – Ilm- ma’rifat va raqamli iqtisodiyot yili” deb e’lon qilindi. Shundan keyin fuqarolarda “raqamli iqtisodiyot” atamasi haqida ko‘plab savollar tug‘ila boshladi.
            </p>
            <p>
                Raqamli iqtisodiyot – bu iqtisodiy, ijtimoiy va madaniy aloqalarni raqamli texnologiyalarni qo‘llash asosida amalga oshirish tizimidir. Ba’zida u internet iqtisodiyoti, yangi iqtisodiyot yoki veb-iqtisodiyot degan terminlar bilan ham ifodalanadi.
            </p>
            <p>
                Raqamli iqtisodiyot - bu xo'jalik faoliyatini yuritish bo'lib, bunda ishlab chiqarish va xizmat ko'rsatishdagi asosiy omil raqamlar ko'rinishidagi ma'lumotlar bo'lib, katta hajmdagi axborotlarni qayta ishlash va shu qayta ishlash natijasini analiz qilish yordamida har xil turdagi ishlab chiqarish, xizmat ko'rsatish, texnologiyalar, qurilmalar, saqlash, mahsulotlarni yetkazib berishda oldingi tizimdan samaraliroq yechimlar tadbiq qilishdir.
            </p>
        </div>
        <div class="box1">
            <img src="img/birinchi oyna orqa fon.png" alt="">
        </div>
    </div>
    <div class="navbar3">
        <span></span>
        <div class="box1">
            <h2>Izohlar</h2>
            <p>Raqamli iqtisodiyot - bu xo'jalik faoliyatini yuritish bo'lib, bunda ishlab chiqarish va xizmat ko'rsatishdagi asosiy omil raqamlar ko'rinishidagi ma'lumotlar bo'lib, katta hajmdagi axborotlarni qayta ishlash va shu qayta ishlash natijasini analiz qilish yordamida har xil turdagi ishlab chiqarish, xizmat ko'rsatish, texnologiyalar, qurilmalar, saqlash, mahsulotlarni yetkazib berishda oldingi tizimdan samaraliroq yechimlar tadbiq qilishdir.</p>
        </div>
    </div>
    <div class="yangilik">
        <span></span>
        <h3>Yangiliklar</h3>
    </div>
    <div class="wrapper1">
        <ul class="carusel">
          <li class="card">
            <div class="img"><img src="img/11 oyna 11 rasm.png" alt=""></div>
            <div class="list">
              <p>Talabalr taqdirlandi</p>
            <h3>Xalqaro anjumanda raqamli iqtisodiyot fakulteti talabalari g’olib bo’ldi </h3>
            <div class="otish">
              <a href="">to’liq o’qish
                <img src="image/Vector.png" alt="">
              </a>
            </div>
            </div>
          </li>
          <li class="card">
            <div class="img"><img src="img/11 oyna 11 rasm.png" alt=""></div>
            <div class="list">
              <p>Talabalr taqdirlandi</p>
            <h3>Xalqaro anjumanda raqamli iqtisodiyot fakulteti talabalari g’olib bo’ldi </h3>
            <div class="otish">
              <a href="">to’liq o’qish
                <img src="image/Vector.png" alt="">
              </a>
            </div>
            </div>
          </li>
          <li class="card">
            <div class="img"><img src="img/11 oyna 11 rasm.png" alt=""></div>
            <div class="list">
              <p>Talabalr taqdirlandi</p>
            <h3>Xalqaro anjumanda raqamli iqtisodiyot fakulteti talabalari g’olib bo’ldi </h3>
            <div class="otish">
              <a href="">to’liq o’qish
                <img src="image/Vector.png" alt="">
              </a>
            </div>
            </div>
          </li>
          <li class="card">
            <div class="img"><img src="img/11 oyna 11 rasm.png" alt=""></div>
            <div class="list">
              <p>Talabalr taqdirlandi</p>
            <h3>Xalqaro anjumanda raqamli iqtisodiyot fakulteti talabalari g’olib bo’ldi </h3>
            <div class="otish">
              <a href="">to’liq o’qish
                <img src="image/Vector.png" alt="">
              </a>
            </div>
            </div>
          </li>
          <li class="card">
            <div class="img"><img src="img/11 oyna 11 rasm.png" alt=""></div>
            <div class="list">
              <p>Talabalr taqdirlandi</p>
            <h3>Xalqaro anjumanda raqamli iqtisodiyot fakulteti talabalari g’olib bo’ldi </h3>
            <div class="otish">
              <a href="">to’liq o’qish
                <img src="image/Vector.png" alt="">
              </a>
            </div>
            </div>
          </li>
          <li class="card">
            <div class="img"><img src="img/11 oyna 11 rasm.png" alt=""></div>
            <div class="list">
              <p>Talabalr taqdirlandi</p>
            <h3>Xalqaro anjumanda raqamli iqtisodiyot fakulteti talabalari g’olib bo’ldi </h3>
            <div class="otish">
              <a href="">to’liq o’qish
                <img src="image/Vector.png" alt="">
              </a>
            </div>
            </div>
          </li>
          <li class="card">
            <div class="img"><img src="img/11 oyna 11 rasm.png" alt=""></div>
            <div class="list">
              <p>Talabalr taqdirlandi</p>
            <h3>Xalqaro anjumanda raqamli iqtisodiyot fakulteti talabalari g’olib bo’ldi </h3>
            <div class="otish">
              <a href="">to’liq o’qish
                <img src="image/Vector.png" alt="">
              </a>
            </div>
            </div>
          </li>
          <li class="card">
            <div class="img"><img src="img/11 oyna 11 rasm.png" alt=""></div>
            <div class="list">
              <p>Talabalr taqdirlandi</p>
            <h3>Xalqaro anjumanda raqamli iqtisodiyot fakulteti talabalari g’olib bo’ldi </h3>
            <div class="otish">
              <a href="">to’liq o’qish
                <img src="image/Vector.png" alt="">
              </a>
            </div>
            </div>
          </li>
          <li class="card">
            <div class="img"><img src="img/11 oyna 11 rasm.png" alt=""></div>
            <div class="list">
              <p>Talabalr taqdirlandi</p>
            <h3>Xalqaro anjumanda raqamli iqtisodiyot fakulteti talabalari g’olib bo’ldi </h3>
            <div class="otish">
              <a href="">to’liq o’qish
                <img src="image/Vector.png" alt="">
              </a>
            </div>
            </div>
          </li>
          <div class="button">
            <button class="butttonImg1" id="prev">
              <img src="img/slyd.png" alt="">
            </button>
            <button class="butttonImg2" id="next">
              <img src="img/slyd.png" alt="">
            </button>
          </div>
        </ul>
    </div>
    
    <footer>

        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>

    <div class="blog1">
        <div class="box1">
            <img src="img/logo.png" alt="">
        </div>
        <div class="box2">
            <p>Raqamli iqtisodiyot fakulteti</p>
        </div>
        <div class="box3">
            <a href="#"><img src="img/kontr1.png" alt=""></a>
            <a href="#"><img src="img/kontr2.png" alt=""></a>
           <a href="#"> <img src="img/kontr3.png" alt=""></a>
        </div>
    </div>
    <div class="blog2">
        <div class="box1">
            <div class="lin1">
                <h2>Fakultet haqida</h2>
                <a href="#">Professorlar</a>
                <a href="#">Raqamli iqtisodiyot haqida</a>
            </div>
            <div class="lin2">
                <h2>Ta’lim</h2>
                <a href="#">Bakalaviatura</a>
                <a href="#">Magistratura</a>
            </div>
            <div class="lin3">
                <h2>Kafedralar</h2>
                <a href="#">Iqtisodiy xavfsizlik</a>
                <a href="#">Raqamli iqtisodiyot va axborot 
                    texnologiyalari</a>
                <a href="#">Innovatsion ta’lim</a>
                <a href="#">Iqtisodiyotda matematik metodlar</a>
            </div>
            <div class="lin4">
                <h2>Tadqiqotlar</h2>
                <a href="#">O’tkazilgan tadqiqotlar</a>
            </div>
        </div>
        <div class="box2">
            <p>Copyright 2022.com, All rights reserved.</p>
        </div>
    </div>
    <div class="blog3">
        <div class="box1">
            <img src="img/tel2.png" alt="">
            <a href="#">+(000) 000 000</a>
        </div>
        <div class="box2">
            <img src="img/email.png" alt="">
            <a href="#">@mail.com</a>
        </div>
    </div>
    </footer>
</body>
</html>