{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/ninestyle.css' %}">
    <title>Abiturientlar</title>
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <a href="index.html">
                    <img src="img/logo.png" alt="">
                    <p>Raqamli iqtisodiyot</p>
                </a>
            </li>
            <li><a href="twoindex.html">Fakultetlar haqida</a></li>
            <li><a href="threeindex.html">Ta’lim</a></li>
            <li><a href="fiveindex.html">Kafedralar</a></li>
            <li><a href="sixindex.html">Tadqiqotlar</a></li>
        </ul>
    </div>
    <div class="nav">
        <h2 class="num">
            Abiturientlar
        </h2>
        <div class="navbar1">
            <div class="blog1">
                <div class="box1">
                    <p>Yonalishlat</p>
                </div>
                <div class="box2">
                    <p>Ekonometrika</p>
                </div>
                <div class="box3">
                    <p>Axborot tizimlari va texnologiyalari </p>
                </div>
                <div class="box4">
                    <p>Iqtisodiy xavfsizlik</p>
                </div>
                <div class="box5">
                    <p>Professional ta’lim</p>
                </div>
                <div class="box6">
                    <p>Raqamli iqtisodiyot</p>
                </div>
                <div class="box7">
                    <p>Statistika</p>
                </div>
            </div>
            <div class="blog2">
                <div class="box1">
                    <p>Ball</p>
                </div>
                <div class="box2">
                    <p>163.8-106.5</p>
                </div>
                <div class="box3">
                    <p>165.9-111.4</p>
                </div>
                <div class="box4">
                    <p>169.1-123.0</p>
                </div>
                <div class="box5">
                    <p>161.6-114.5</p>
                </div>
                <div class="box6">
                    <p>175.1-142.7</p>
                </div>
                <div class="box7">
                    <p>161.6-92.8</p>
                </div>
            </div>
            <div class="blog3">
                <div class="box1">
                    <p>O’quv yli</p>
                </div>
                <div class="box2">
                    <p>2023-2024</p>
                </div>
                <div class="box3">
                    <p>2023-2024</p>
                </div>
                <div class="box4">
                    <p>2023-2024</p>
                </div>
                <div class="box5">
                    <p>2023-2024</p>
                </div>
                <div class="box6">
                    <p>2023-2024</p>
                </div>
                <div class="box7">
                    <p>2023-2024</p>
                </div>
                </div>
            </div>
        </div>
    </div>
    <footer>

        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>

    <div class="blog1">
        <div class="box1">
            <img src="img/logo.png" alt="">
        </div>
        <div class="box2">
            <p>Raqamli iqtisodiyot fakulteti</p>
        </div>
        <div class="box3">
            <a href="#"><img src="img/kontr1.png" alt=""></a>
            <a href="#"><img src="img/kontr2.png" alt=""></a>
           <a href="#"> <img src="img/kontr3.png" alt=""></a>
        </div>
    </div>
    <div class="blog2">
        <div class="box1">
            <div class="lin1">
                <h2>Fakultet haqida</h2>
                <a href="#">Professorlar</a>
                <a href="#">Raqamli iqtisodiyot haqida</a>
            </div>
            <div class="lin2">
                <h2>Ta’lim</h2>
                <a href="#">Bakalaviatura</a>
                <a href="#">Magistratura</a>
            </div>
            <div class="lin3">
                <h2>Kafedralar</h2>
                <a href="#">Iqtisodiy xavfsizlik</a>
                <a href="#">Raqamli iqtisodiyot va axborot
                    texnologiyalari</a>
                <a href="#">Innovatsion ta’lim</a>
                <a href="#">Iqtisodiyotda matematik metodlar</a>
            </div>
            <div class="lin4">
                <h2>Tadqiqotlar</h2>
                <a href="#">O’tkazilgan tadqiqotlar</a>
            </div>
        </div>
        <div class="box2">
            <p>Copyright 2022.com, All rights reserved.</p>
        </div>
    </div>
    <div class="blog3">
        <div class="box1">
            <img src="img/tel2.png" alt="">
            <a href="#">+(000) 000 000</a>
        </div>
        <div class="box2">
            <img src="img/email.png" alt="">
            <a href="#">@mail.com</a>
        </div>
    </div>
    </footer>
</body>
</html>