{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ijtimoiy loyihalar</title>
    <link rel="stylesheet" href="{% static 'css/sevenstyle.css' %}">
</head>
<body>
    <div class="box">
        <div class="menu">
            <ul>
                <li>
                    <a href="{% url 'home' %}">
                        <img src="{% static 'img/logo.png' %}" alt="">
                        <p>Raqamli iqtisodiyot</p>
                    </a>
                </li>
                <li><a href="twoindex.html">Fakultetlar haqida</a></li>
                <li><a href="threeindex.html">Ta’lim</a></li>
                <li><a href="fiveindex.html">Kafedralar</a></li>
                <li><a href="sixindex.html">Tadqiqotlar</a></li>
            </ul>
        </div>
        <h2 class="num">
            Yangiliklar
        </h2>
        <div class="box11">
                <div class="name11">
                    Raqamli iqtisodiyot fakulteti
                </div>
                <div class="name21">
                    Loyihalar
                </div>
            <div class="name31">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
            </div>
            <div class="name41">
                <div>
                    <div style="margin-left: 67px; width: 92px; height: 78px;"> <img src="{%  static 'img/sevn1.png' %}" style="width: 92px; height: 78px;"> </div>
                    <div class="ilon1">
                        Mutaxasislar
                    </div>
                    <div class="ilon2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    </div>
                </div>
                <div style="margin-left: 295px;">
                    <div style="margin-left: 72px; width: 81px; height: 78px;"> <img src="{% static 'img/sevn2.png' %}" style="width: 81px; height: 78px;"></div>
                    <div class="lion1">
                        Muvaffaqiyatli loyihalar
                    </div>
                    <div class="lion2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    </div>
                </div>
                <div style="margin-left: 295px;">
                    <div style="margin-left: 73px; width: 78px; height: 78px;"><img src="{% static 'img/sevn3.png' %}" style="width: 78px; height: 78px;"> </div>
                    <div class="tig1">
                        Loyihalar
                    </div>
                    <div class="tig2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                    </div>
                </div>
            </div>
            <div class="name51">
                <div class="mon1">
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and  international analytics, we specialize in using the best practices in order to help y ou succeed. <br> <br>
                    We offer dedicated organisational consultancy, market intelligence, and optimized analytical support. <br> <br>
                    We are truly determined to transform your ideas into something great. Through the power of creativity and collaboration, we will strive to take you on an unforgettable journey that will leave a long-lasting impact on your business.
                </div>
                <div class="mon2">
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and <br> international analytics, we specialize in using the best practices in order to help y ou succeed. <br> <br>
                    We offer dedicated organisational consultancy, market intelligence, and optimized analytical support.
                </div>
            </div>
        </div>
        <div class="box21">
            <div class="curr1">
                <div class="curr2">
                    <img src="{% static 'img/sevn5.png' %}" alt="">
                    <img src="{% static 'img/sevn4.png' %}" style="margin-top: 62px; margin-left: 162px;">
                </div>
            </div>
            <div class="jus1">
                <div class="jus2"></div>
                <div class="jus3">
                    <a href=""> Loyihalar </a>
                    <br>
                    Analytics, & Leadership
                </div>
                <div class="jus4">
                    <br> <br>
                    We are a passionate team determined to help you translate your ideas into high-quality solutions. With extensive experience in consultancy and international analytics, we specialize in using the best practices in order to help y ou succeed. <br> <br>
                    We offer dedicated organisational consultancy, market intelligence, and optimized analytical support. <br> <br>
                    We are truly determined to transform your ideas into something great. Through the power of creativity and collaboration, we will strive to take you on an unforgettable journey that will leave a long-lasting impact on your business.
                </div>
            </div>
        </div>
        <footer>

            <span class="s1"></span>
            <span class="s2"></span>
            <span class="s3"></span>
            <span class="s4"></span>
            <span class="s5"></span>
            <span class="s6"></span>
    
        <div class="blog1">
            <div class="box1">
                <img src="img/logo.png" alt="">
            </div>
            <div class="box2">
                <p>Raqamli iqtisodiyot fakulteti</p>
            </div>
            <div class="box3">
                <a href="#"><img src="img/kontr1.png" alt=""></a>
                <a href="#"><img src="img/kontr2.png" alt=""></a>
               <a href="#"> <img src="img/kontr3.png" alt=""></a>
            </div>
        </div>
        <div class="blog2">
            <div class="box1">
                <div class="lin1">
                    <h2>Fakultet haqida</h2>
                    <a href="#">Professorlar</a>
                    <a href="#">Raqamli iqtisodiyot haqida</a>
                </div>
                <div class="lin2">
                    <h2>Ta’lim</h2>
                    <a href="#">Bakalaviatura</a>
                    <a href="#">Magistratura</a>
                </div>
                <div class="lin3">
                    <h2>Kafedralar</h2>
                    <a href="#">Iqtisodiy xavfsizlik</a>
                    <a href="#">Raqamli iqtisodiyot va axborot 
                        texnologiyalari</a>
                    <a href="#">Innovatsion ta’lim</a>
                    <a href="#">Iqtisodiyotda matematik metodlar</a>
                </div>
                <div class="lin4">
                    <h2>Tadqiqotlar</h2>
                    <a href="#">O’tkazilgan tadqiqotlar</a>
                </div>
            </div>
            <div class="box2">
                <p>Copyright 2022.com, All rights reserved.</p>
            </div>
        </div>
        <div class="blog3">
            <div class="box1">
                <img src="img/tel2.png" alt="">
                <a href="#">+(000) 000 000</a>
            </div>
            <div class="box2">
                <img src="img/email.png" alt="">
                <a href="#">@mail.com</a>
            </div>
        </div>
        </footer>
    </div>
</body>
</html>