{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sixstyle.css' %}">
    <title>oltinchi oyna</title>
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}" alt="">
                    <p>Raqamli iqtisodiyot</p>
                </a>
            </li>
            <li><a href="{% url 'about' %}">Fakultet haqida</a></li>
            <li><a href="{% url 'tech' %}">Ta’lim</a></li>
            <li><a href="{% url 'departament' %}">Kafedralar</a></li>
            <li><a href="{% url 'tadqiqot' %}">Tadqiqotlar</a></li>
        </ul>
    </div>
    <h2 class="num">
        Tadqiqotlar
    </h2>
    <div class="navbar1">
        <div class="blog1">
            <a href="#">GALLERY</a>
            <h2>
                2023-yil olib borilgan tadqiqotlar
            </h2>
        </div>
        <div class="blog2">
            <p>
                Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
            </p>
        </div>
    </div>
    <div class="navbar2">
        <div class="blog1">
            <img src="{%  static 'img/olti1.png' %}" alt="">
            <img src="{%  static 'img/olti2.png' %}" alt="">
            <img src="{%  static 'img/olti3.png' %}" alt="">
        </div>
        <div class="blog2">
            <img src="{%  static 'img/olti4.png' %}" alt="">
            <img src="{%  static 'img/olti5.png' %}" alt="">
            <img src="{%  static 'img/olti6.png' %}" alt="">
        </div>
    </div>
    <div class="bg2">
        <img src="{% static 'img/6 oyna 7 rasm.png' %}" alt="">
    </div>
    <div class="navbar3">
        <div class="blog1">
            <h2>Muvaffqaiyatlar</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, nihil.
            </p>
        </div>
        <div class="blog2">
            <div class="box1">
                <h2>2.500</h2>
                <p>Tadqiqotlar</p>
            </div>
            <div class="box1">
                <h2>2.500</h2>
                <p>Tadqiqotlar</p>
            </div>
            <div class="box1">
                <h2>2.500</h2>
                <p>Tadqiqotlar</p>
            </div>
        </div>
    </div>
    <div class="navbar4">
        <div class="blog1">
            <img src="{% static 'img/olti7.png' %}" alt="">
        </div>
        <div class="blog2">
            <div class="box1">
                <h2>To’lov sistemalarini tizimlashtirish</h2>
                <a href="#">Raqamli iqtisodiyot fakulteti</a>
                <p>
                    State and political figure, the first president of the Republic of Uzbekistan. Hero Of Uzbekistan (1994). Supreme Commander-in-chief of the Armed Forces of Uzbekistan and winner of the presidential elections of 2007, winner of the presidential elections of 2015. The first secretary of the Communist Party of Uzbekistan until the declaration of independence. President of Uzbekistan from 1991 to the end of his life. Under the leadership of Islam Karimov, Uzbekistan had its own constitution, was recognized in the UN and had equal relations with the CIS countries.
                </p>
            </div>
            <div class="box2">
                <span></span>
                <div class="nav">
                    <p>
                        Deputy Head of the Presidential Administration
                    </p>
                    <p>
                        This means that if press is less disturbed, we have a chance to                     achieve an even higher result in the future. As the president                   said, there is no way back!
                    </p>
                    <p>
                        Deputy Head of the Presidential Administration
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar5">
        <div class="blog2">
            <div class="box1">
                <h2>To’lov sistemalarini tizimlashtirish</h2>
                <a href="#">Raqamli iqtisodiyot fakulteti</a>
                <p>
                    State and political figure, the first president of the Republic of Uzbekistan. Hero Of Uzbekistan (1994). Supreme Commander-in-chief of the Armed Forces of Uzbekistan and winner of the presidential elections of 2007, winner of the presidential elections of 2015. The first secretary of the Communist Party of Uzbekistan until the declaration of independence. President of Uzbekistan from 1991 to the end of his life. Under the leadership of Islam Karimov, Uzbekistan had its own constitution, was recognized in the UN and had equal relations with the CIS countries.
                </p>
            </div>
            <div class="box2">
                <span></span>
                <div class="nav">
                    <p>
                        Deputy Head of the Presidential Administration
                    </p>
                    <p>
                        This means that if press is less disturbed, we have a chance to                     achieve an even higher result in the future. As the president                   said, there is no way back!
                    </p>
                    <p>
                        Deputy Head of the Presidential Administration
                    </p>
                </div>
            </div>
        </div>
        <div class="blog1">
            <img src="{% static 'img/olti8.png' %}" alt="">
        </div>
    </div>
    <footer>

        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>

    <div class="blog1">
        <div class="box1">
            <img src="img/logo.png" alt="">
        </div>
        <div class="box2">
            <p>Raqamli iqtisodiyot fakulteti</p>
        </div>
        <div class="box3">
            <a href="#"><img src="img/kontr1.png" alt=""></a>
            <a href="#"><img src="img/kontr2.png" alt=""></a>
           <a href="#"> <img src="img/kontr3.png" alt=""></a>
        </div>
    </div>
    <div class="blog2">
        <div class="box1">
            <div class="lin1">
                <h2>Fakultet haqida</h2>
                <a href="#">Professorlar</a>
                <a href="#">Raqamli iqtisodiyot haqida</a>
            </div>
            <div class="lin2">
                <h2>Ta’lim</h2>
                <a href="#">Bakalaviatura</a>
                <a href="#">Magistratura</a>
            </div>
            <div class="lin3">
                <h2>Kafedralar</h2>
                <a href="#">Iqtisodiy xavfsizlik</a>
                <a href="#">Raqamli iqtisodiyot va axborot 
                    texnologiyalari</a>
                <a href="#">Innovatsion ta’lim</a>
                <a href="#">Iqtisodiyotda matematik metodlar</a>
            </div>
            <div class="lin4">
                <h2>Tadqiqotlar</h2>
                <a href="#">O’tkazilgan tadqiqotlar</a>
            </div>
        </div>
        <div class="box2">
            <p>Copyright 2022.com, All rights reserved.</p>
        </div>
    </div>
    <div class="blog3">
        <div class="box1">
            <img src="img/tel2.png" alt="">
            <a href="#">+(000) 000 000</a>
        </div>
        <div class="box2">
            <img src="img/email.png" alt="">
            <a href="#">@mail.com</a>
        </div>
    </div>
    </footer>
</body>
</html>