{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/yangiikkstyle.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <a href="{% url 'home'%}">
                    <img src="{%  static 'img/logo.png' %}" alt="">
                    <p>Raqamli iqtisodiyot</p>
                </a>
            </li>
            <li><a href="{% url 'about' %}">Fakultet haqida</a></li>
                <li><a href="{% url 'tech' %}">Ta'lim</a></li>
                <li><a href="{% url 'departament' %}">Kafedralar</a></li>
                <li><a href="{% url 'tadqiqot' %}">Tadqiqotlar</a></li>
        </ul>
    </div>
    <div class="bg3"></div>
    <div class="navbar2">
        <h2 class="lg">Sun’iy intellekt kafedras professorlari</h2>
        <div class="blog1">
            <img src="img/oyna2.1.png" alt="">
        </div>
        <div class="blog2">
            <div class="box1">
                <img src="{% static 'img/AiDomla1.png'%}" alt="">
                <h2>Mo‘minov Bahodir Boltayevich</h2>
                <p>
                    Raqamli iqtisodiyot - bu xo'jalik faoliyatini yuritish bo'lib, bunda ishlab chiqarish va xizmat ko'rsatishdagi asosiy omil raqamlar ko'rinishidagi ma'lumotlar bo'lib, katta hajmdagi axborotlarni qayta ishlash va shu qayta ishlash natijasini analiz qilish yordamida har xil turdagi ishlab chiqarish, xizmat ko'rsatish, texnologiyalar, qurilmalar, saqlash, mahsulotlarni yetkazib berishda oldingi tizimdan samaraliroq yechimlar tadbiq qilishdir.
                </p>
            </div>
            <div class="box1">
                <img src="{% static 'img/AiDomla2.jpg'%}" alt="">
                <h2>Xashimxodjayev Sharafutdin Ishanxodjayevich</h2>
                <p>
                    Raqamli iqtisodiyot - bu xo'jalik faoliyatini yuritish bo'lib, bunda ishlab chiqarish va xizmat ko'rsatishdagi asosiy omil raqamlar ko'rinishidagi ma'lumotlar bo'lib, katta hajmdagi axborotlarni qayta ishlash va shu qayta ishlash natijasini analiz qilish yordamida har xil turdagi ishlab chiqarish, xizmat ko'rsatish, texnologiyalar, qurilmalar, saqlash, mahsulotlarni yetkazib berishda oldingi tizimdan samaraliroq yechimlar tadbiq qilishdir.
                </p>
            </div>
            <div class="box1">
                <img src="{% static 'img/AiDomla3.jpg'%}" alt="">
                <h2>Abdullayeva Iroda Maxmudjanovna</h2>
                <p>
                    Raqamli iqtisodiyot - bu xo'jalik faoliyatini yuritish bo'lib, bunda ishlab chiqarish va xizmat ko'rsatishdagi asosiy omil raqamlar ko'rinishidagi ma'lumotlar bo'lib, katta hajmdagi axborotlarni qayta ishlash va shu qayta ishlash natijasini analiz qilish yordamida har xil turdagi ishlab chiqarish, xizmat ko'rsatish, texnologiyalar, qurilmalar, saqlash, mahsulotlarni yetkazib berishda oldingi tizimdan samaraliroq yechimlar tadbiq qilishdir.
                </p>
            </div>
            <div class="box1">
                <img src="{% static 'img/AiDomla4.jpg'%}" alt="">
                <h2>Pilipenko Yelena Fedorovna</h2>
                <p>
                    Raqamli iqtisodiyot - bu xo'jalik faoliyatini yuritish bo'lib, bunda ishlab chiqarish va xizmat ko'rsatishdagi asosiy omil raqamlar ko'rinishidagi ma'lumotlar bo'lib, katta hajmdagi axborotlarni qayta ishlash va shu qayta ishlash natijasini analiz qilish yordamida har xil turdagi ishlab chiqarish, xizmat ko'rsatish, texnologiyalar, qurilmalar, saqlash, mahsulotlarni yetkazib berishda oldingi tizimdan samaraliroq yechimlar tadbiq qilishdir.
                </p>
            </div>
        </div>
    </div>

    <div class="navbar3">
        <div class="blog1">
            <img src="img/oyna2.3.png" alt="">
        </div>
        <div class="blog2">
            <div class="box1">
                <h2>Fakultet professorlari</h2>
            </div>
            <div class="box2">
                <p>
                    Raqamli iqtisodiyot insonlarning turmush darajasini sezilarli darajada oshiradi, bu uning asosiy foydasidir.
                </p>
                <p>
                    Raqamli iqtisodiyot korrupsiya va “qora iqtisodiyot”ning asosiy kushandasidir. Chunki, raqamlar hamma narsani muhrlaydi, xotirada saqlaydi, kerak paytda ma’lumotlarni tez taqdim etadi. Bunday sharoitda biron ma’lumotni yashirish, yashirin bitimlar tuzish, u yoki bu faoliyat haqida to‘liq axborot bermaslikning iloji yo‘q, kompyuter hammasini namoyon qilib qo‘yadi. Ma’lumotlar ko‘pligi va tizimliligi yolg‘on va qing‘ir ishlarga yo‘l bermaydi, chunki tizimni aldash imkonsiz. Natijada “iflos pullarni” yuvish, mablag‘larni o‘g‘irlash, samarasiz va maqsadsiz sarflash, oshirib yo yashirib ko‘rsatish imkoni qolmaydi. Bu esa iqtisodiyotga legal mablag‘lar oqimini oshiradi, soliqlar o‘z vaqtida va to‘g‘ri to‘lanadi, byudjet taqsimoti ochiq bo‘ladi, ijtimoiy sohaga yo‘naltirilgan mablag‘lar o‘g‘irlanmaydi, maktablar, kasalxonalar, yo‘llarga ajratilgan pullar to‘liq yetib boradi va hokazo.
                </p>
                <p>
                    Davlatning raqamli iqtisodiyotni rivojlantirish yo‘lini tanlaganligi axborot texnologiyalari sohasida va umuman, elektron hujjatlar aylanmasi sohasida yangi yo‘nalishlar ochib beradi. “Raqamli texnologiyalar” tomon burilishga butun jahon internet tarmog‘i va sifatli aloqaning rivojlanishi sababchi bo‘ldi.
                </p>
            </div>
        </div>
    </div>
    <footer>

        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>

    <div class="blog1">
        <div class="box1">
            <img src="img/logo.png" alt="">
        </div>
        <div class="box2">
            <p>Raqamli iqtisodiyot fakulteti</p>
        </div>
        <div class="box3">
            <a href="#"><img src="img/kontr1.png" alt=""></a>
            <a href="#"><img src="img/kontr2.png" alt=""></a>
           <a href="#"> <img src="img/kontr3.png" alt=""></a>
        </div>
    </div>
    <div class="blog2">
        <div class="box1">
            <div class="lin1">
                <h2>Fakultet haqida</h2>
                <a href="#">Professorlar</a>
                <a href="#">Raqamli iqtisodiyot haqida</a>
            </div>
            <div class="lin2">
                <h2>Ta’lim</h2>
                <a href="#">Bakalaviatura</a>
                <a href="#">Magistratura</a>
            </div>
            <div class="lin3">
                <h2>Kafedralar</h2>
                <a href="#">Iqtisodiy xavfsizlik</a>
                <a href="#">Raqamli iqtisodiyot va axborot
                    texnologiyalari</a>
                <a href="#">Innovatsion ta’lim</a>
                <a href="#">Iqtisodiyotda matematik metodlar</a>
            </div>
            <div class="lin4">
                <h2>Tadqiqotlar</h2>
                <a href="#">O’tkazilgan tadqiqotlar</a>
            </div>
        </div>
        <div class="box2">
            <p>Copyright 2022.com, All rights reserved.</p>
        </div>
    </div>
    <div class="blog3">
        <div class="box1">
            <img src="img/tel2.png" alt="">
            <a href="#">+(000) 000 000</a>
        </div>
        <div class="box2">
            <img src="img/email.png" alt="">
            <a href="#">@mail.com</a>
        </div>
    </div>
    </footer>
</body>
</html>