<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/yangioynastyle.css">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <ul>
            <li>
                <a href="index.html">
                    <img src="img/logo.png" alt="">
                    <p>Raqamli iqtisodiyot</p>
                </a>
            </li>
            <li><a href="twoindex.html">Fakultetlar haqida</a></li>
            <li><a href="threeindex.html">Ta’lim</a></li>
            <li><a href="fiveindex.html">Kafedralar</a></li>
            <li><a href="sixindex.html">Tadqiqotlar</a></li>
        </ul>
    </div>
    <div class="num">
        <h2>
            Alumni
        </h2>
    </div>
    <div class="navbar5">
        <div class="blog1">
            <span></span>
            <h2>TSUE Alumni</h2>
            <img src="img/bechinchi oyna 4.png" alt="">
        </div>
        <div class="blog2">
            <h2>TSUE Alumni</h2>
            <p>
                On August 13, 1931, the Central Asian Institute of Finance and Economics was founded on the foundation of Turkestan State University’s Faculty of Economics and Social Sciences, based on the locations of the former Council of People’s Commissars of the Union. This was done in response to the growing demand for economists. The Tashkent Institute of Finance and Economics was established as a result to train personnel for the Central Asian countries’ financial and credit systems.In Uzbekistan, this was the country’s inaugural economic training phase. The first bell at the institute rung on September 1, 1931, signaling the start of classes.
            </p>
        </div>
    </div>
    <section>
        <a href="#">Famous graduates</a>
    </section>
    <div class="navbar6">
        <div class="blog1">
            <img src="img/faqr1.png" alt="">
        </div>
        <div class="blog2">
            <h2>Islom Karimov</h2>
            <div class="box1">
                <a href="#">The first president of the Republic of Uzbekistan</a>
                <p>
                    State and political figure, the first president of the Republic of Uzbekistan. Hero Of Uzbekistan (1994). Supreme Commander-in-chief of the Armed Forces of Uzbekistan and winner of the presidential elections of 2007, winner of the presidential elections of 2015. The first secretary of the Communist Party of Uzbekistan until the declaration of independence. President of Uzbekistan from 1991 to the end of his life. Under the leadership of Islam Karimov, Uzbekistan had its own constitution, was recognized in the UN and had equal relations with the CIS countries.
                </p>
            </div>
            <div class="box2">
                <span></span>
                <p>
                    Deputy Head of the Presidential AdministrationThis means that if press is less disturbed, we have a chance to achieve an even higher result in the future. As the president said, there is no way back!
                </p>
                <ul>
                    <li>
                        Master's degree, Tashkent State University Economics with a degree in Economics
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="navbar7">
        <div class="blog2">
            <h2>Islom Karimov</h2>
            <div class="box1">
                <a href="#">The first president of the Republic of Uzbekistan</a>
                <p>
                    State and political figure, the first president of the Republic of Uzbekistan. Hero Of Uzbekistan (1994). Supreme Commander-in-chief of the Armed Forces of Uzbekistan and winner of the presidential elections of 2007, winner of the presidential elections of 2015. The first secretary of the Communist Party of Uzbekistan until the declaration of independence. President of Uzbekistan from 1991 to the end of his life. Under the leadership of Islam Karimov, Uzbekistan had its own constitution, was recognized in the UN and had equal relations with the CIS countries.
                </p>
            </div>
            <div class="box2">
                <span></span>
                <p>
                    Deputy Head of the Presidential AdministrationThis means that if press is less disturbed, we have a chance to achieve an even higher result in the future. As the president said, there is no way back!
                </p>
                <ul>
                    <li>
                        Master's degree, Tashkent State University Economics with a degree in Economics
                    </li>                  
                    <li>
                        Master's degree, Tashkent State University Economics with a degree in Economics
                    </li>
                </ul>
            </div>
        </div>
        <div class="blog1">
            <img src="img/faqr1.png" alt="">
        </div>
    </div>
    <div class="navbar8">
        <div class="blog1">
            <img src="img/faqr1.png" alt="">
        </div>
        <div class="blog2">
            <h2>Islom Karimov</h2>
            <div class="box1">
                <a href="#">The first president of the Republic of Uzbekistan</a>
                <p>
                    State and political figure, the first president of the Republic of Uzbekistan. Hero Of Uzbekistan (1994). Supreme Commander-in-chief of the Armed Forces of Uzbekistan and winner of the presidential elections of 2007, winner of the presidential elections of 2015. The first secretary of the Communist Party of Uzbekistan until the declaration of independence. President of Uzbekistan from 1991 to the end of his life. Under the leadership of Islam Karimov, Uzbekistan had its own constitution, was recognized in the UN and had equal relations with the CIS countries.
                </p>
            </div>
            <div class="box2">
                <span></span>
                <p>
                    Deputy Head of the Presidential AdministrationThis means that if press is less disturbed, we have a chance to achieve an even higher result in the future. As the president said, there is no way back!
                </p>
                <ul>
                    <li>
                        Master's degree, Tashkent State University Economics with a degree in Economics
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>

        <span class="s1"></span>
        <span class="s2"></span>
        <span class="s3"></span>
        <span class="s4"></span>
        <span class="s5"></span>
        <span class="s6"></span>

    <div class="blog1">
        <div class="box1">
            <img src="img/logo.png" alt="">
        </div>
        <div class="box2">
            <p>Raqamli iqtisodiyot fakulteti</p>
        </div>
        <div class="box3">
            <a href="#"><img src="img/kontr1.png" alt=""></a>
            <a href="#"><img src="img/kontr2.png" alt=""></a>
           <a href="#"> <img src="img/kontr3.png" alt=""></a>
        </div>
    </div>
    <div class="blog2">
        <div class="box1">
            <div class="lin1">
                <h2>Fakultet haqida</h2>
                <a href="#">Professorlar</a>
                <a href="#">Raqamli iqtisodiyot haqida</a>
            </div>
            <div class="lin2">
                <h2>Ta’lim</h2>
                <a href="#">Bakalaviatura</a>
                <a href="#">Magistratura</a>
            </div>
            <div class="lin3">
                <h2>Kafedralar</h2>
                <a href="#">Iqtisodiy xavfsizlik</a>
                <a href="#">Raqamli iqtisodiyot va axborot 
                    texnologiyalari</a>
                <a href="#">Innovatsion ta’lim</a>
                <a href="#">Iqtisodiyotda matematik metodlar</a>
            </div>
            <div class="lin4">
                <h2>Tadqiqotlar</h2>
                <a href="#">O’tkazilgan tadqiqotlar</a>
            </div>
        </div>
        <div class="box2">
            <p>Copyright 2022.com, All rights reserved.</p>
        </div>
    </div>
    <div class="blog3">
        <div class="box1">
            <img src="img/tel2.png" alt="">
            <a href="#">+(000) 000 000</a>
        </div>
        <div class="box2">
            <img src="img/email.png" alt="">
            <a href="#">@mail.com</a>
        </div>
    </div>
    </footer>
</body>
</html>